.notification-container{
    border-radius: 8px;
    background-color: #191a1a;

    margin: 0 8%;
    margin-top: 3em;

    cursor: pointer;

    .notification-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1em 2em;

        .notification-content{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .notification-info{
                color: white;

                margin-left: 1em;
                h5, p{
                    margin: 0.5em;
                }
            }
        }
    }

    // boxshadow
    -webkit-box-shadow: 0px 17px 10px -10px rgba(112,156,174,0.5);
    -moz-box-shadow: 0px 17px 10px -10px rgba(112,156,174,0.5);
    box-shadow: 0px 17px 10px -10px rgba(112,156,174,0.5);
}

@media screen and (max-width: 425px){
    .notification-container{
        margin: 0 5%;
        margin-top: 2rem;

        .notification-wrapper{
            padding: 0.5em 0.5em;
            .notification-content{
                .notification-info{
                    margin-left: 0.5em;

                    h5{
                        font-size: 13px;
                        margin-bottom: 0;
                    }
                    p{
                        font-size: 11px;
                    }
                }
            }
        }
    }
}