.copyright-container{
    background-color: #000000;

    .copyright-wrapper{
        margin: 0 8%;
        padding: 19px 0;

        display: flex;
        align-items: baseline;
        justify-content: space-between;

        .copyright{
            color: white;
            font-size: 12px;

            p{
                margin: 0;
            }
        }

        .terms{
            font-size: 16px;
            a{
                color: white;
                text-decoration: none;
                margin-left: 1em;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .copyright-container{
        .copyright-wrapper{
            display: block;
            .terms{
                margin-top: 1em;
                display: block;
                a{
                    margin-left: 0;
                    margin-right: 1em;
                }
            }
        }
    }
}

@media screen and (max-width: 425px){
    .copyright-container{
        margin-bottom: 48px;
        .copyright-wrapper{
            .copyright{
                font-size: 10px;
            }
            .terms{
                display: flex;
                flex-direction: column;
            }
            a{
                font-size: 14px;
                margin-bottom: 1em;
            }
        }
    }
}