.offer-container{
    margin-top: 3em;

    .BrainhubCarousel__container{
        // justify-content: flex-start;
        .BrainhubCarousel__trackContainer{
            .BrainhubCarousel__track[style]{
                margin-left: 8% !important;
                .BrainhubCarouselItem{
                    justify-content: flex-start;
                }
            }
        }
    }
}

@media screen and (max-width: 425px){
    .offer-container{    
        margin-top: 1rem;
        .BrainhubCarousel__container{
            .BrainhubCarousel__trackContainer{
                .BrainhubCarousel__track[style]{
                    margin-left: 5% !important;
                    .BrainhubCarouselItem{
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}