.profile-preview-container{
    padding-top: 8em;
    // margin-top: 80px;

    .profile-preview-wrapper{
        margin-left: 8%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .avatar{
            width: 80px;
            height: 80px;
            border-radius: 100%;
            // background-color: black;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 2em;
        }

        .content{

            p{
                color: white;
                margin: 0;
            }

            .title-small{
                font-weight: bold;
                opacity: 50%;
            }

            .profile{
                margin: 0.5em 0;
                font-size: 20px;
                text-decoration: none;
                letter-spacing: 0;
                color: black;
                display: flex;
                align-items: center;
            }
            .points{
                font-size: 16px;
                letter-spacing: 0;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .profile-preview-container{
        padding-top: 6em;
    }
}