.profile-preview-container{
    padding-top: 8rem;
    // margin-top: 80px;

    .profile-preview-wrapper{
        margin-left: 8%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .avatar{
            width: 80px;
            height: 80px;
            border-radius: 100%;
            // background-color: black;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 2em;
        }

        .content{

            p{
                color: white;
                margin: 0;
            }

            .title-small{
                font-weight: bold;
                opacity: 0.5;
            }

            .profile{
                margin: 0.5em 0;
                font-size: 20px;
                text-decoration: none;
                letter-spacing: 0;
                color: black;
                display: flex;
                align-items: center;
            }
            .points{
                font-size: 16px;
                letter-spacing: 0;
            }
        }

        .notif-mobile{
            display: none;
        }
    }
}

@media screen and (max-width: 768px){
    .profile-preview-container{
        padding-top: 7em;
    }
}

@media screen and (max-width: 425px){
    .profile-preview-container{
        padding-top: 2rem;
        
        .profile-preview-wrapper{
            margin: 0 5%;
            .notif-mobile{
                display: block;
            }
            .avatar{
                width: 40px;
                height: 40px;
                margin-right: 1rem;
            }
            .content{
                margin-right: auto;
                .greeting{
                    display: none;
                }
                .profile{
                    font-size: 15px;
                    font-weight: bold;
                    margin: 0;
                    margin-bottom: 0.2em;

                    img{
                        margin-left: 0.5em;
                        transform: rotate(90deg);
                        width: 16px;
                    }
                }
                .points{
                    font-size: 14px;
                }
            }
            .notif-mobile{
                .notif{
                    margin-left: 0.8rem;
                }
            }
        }
    }
}