.userInfo-container{
    margin-top: 3em;
    
    .userInfo-wrapper{
        margin: 0 8%;
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
        
        .content-left, .content-right{
            width: 40vw;
        }
    }
}

@media screen and (max-width: 1120px){
    .userInfo-container{
        
        .userInfo-wrapper{
            display: block;

            .content-right, .content-left{
                margin-top: 1em;
                width: auto;
            }
        }
    }
}