.userInfo-container{
    margin-top: 3em;
    
    .userInfo-wrapper{
        margin: 0 8%;
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
        
        .content-left, .content-right{
            width: 40vw;
        }
    }
}

@media screen and (max-width: 425px){
    .userInfo-container{
        
        .userInfo-wrapper{
            display: block;
            margin-left: 0;
            margin-right: 0;

            .content-right, .content-left{
                margin-top: 1em;
                width: auto;
            }

            .BrainhubCarousel__container{
                .BrainhubCarousel__trackContainer{
                    .BrainhubCarousel__track[style]{
                        margin-left: 5% !important;
                        li{
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px){
    .userInfo-container{
        .userInfo-wrapper{
            margin-left: 0;
            margin-right: 0;

            .BrainhubCarousel__container{
                .BrainhubCarousel__trackContainer{
                    .BrainhubCarousel__track[style]{
                        margin-left: 5% !important;
                    }
                }
            }
        }
    }
}