.filled-container{
    width: 100px;
    height: 20px;
    border-radius: 4px;
    background-color: #ee4c24;

    font-family: Ubuntu;
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: auto;
    border: none;
}