.subscribe-container{
    margin-top: 3em;
    background-color: white;
    padding: 2em 0;

    .subscribe-wrapper{
        margin: 4em 0;
        margin-left: 8%;

        .content{
            display: flex;

            .content-left{
                width: 80vw;
                margin-right: 2em;

                .logo{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
    
                    margin-top: 3.5em;
    
                    .stream-logo{
                        height: 25px;
                        margin-right: 2em;
                    }
                }
            }

            .BrainhubCarousel__container{
                
            }
        }
    }
}

@media screen and (max-width: 768px){
    .subscribe-container{
        padding: 0.5em 0;
        .subscribe-wrapper{
            margin: 0;
            .content{
                display: block;
                .content-left{
                    margin-bottom: 3em;
                }

                .BrainhubCarouselItem{
                    justify-content: flex-start;
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    .subscribe-container{
        margin-top: 1.5rem;
        .subscribe-wrapper{
            .content{
                width: 100%;
                box-sizing: border-box;
                .content-left{
                    .logo{
                        display: block;
                        width: 10%;
                        img{
                            margin-top: 1em;
                        }
                    }
                }
            }
        }
    }

    .title-small{
        margin-top: 0.5em;
        margin-left: 5%;
    }
    
    .btn-primary{
        height: 36px;
        width: 90%;
        
        box-sizing: border-box;
        font-size: 12px;
        margin: 0 5%;
        margin-bottom: 0.5em;
    }
    .BrainhubCarousel__container{
        .BrainhubCarousel__trackContainer{
            .BrainhubCarousel__track[style]{
                margin-left: 5% !important;
                li{
                    justify-content: flex-start;
                }
            }
        }
    }
}