.subscribe-container{
    margin-top: 3em;
    background-color: white;
    padding: 2em 0;

    .subscribe-wrapper{
        margin: 4em 0;
        margin-left: 8%;

        .content{
            display: flex;

            .content-left{
                width: 80vw;
                margin-right: 2em;

                .logo{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
    
                    margin-top: 3.5em;
    
                    .stream-logo{
                        height: 25px;
                        margin-right: 2em;
                    }
                }
            }

            .BrainhubCarousel__container{
                
            }
        }
    }
}

@media screen and (max-width: 768px){
    .subscribe-container{
        .subscribe-wrapper{
            .content{
                display: block;
                .content-left{
                    margin-bottom: 3em;
                }

                .BrainhubCarouselItem{
                    justify-content: flex-start;
                }
            }
        }
    }
}

@media screen and (max-width: 470px){
    .subscribe-container{
        .subscribe-wrapper{
            .content{
                .content-left{
                    .logo{
                        display: block;
                        width: 10%;
                        img{
                            margin-top: 1em;
                        }
                    }
                }
            }
        }
    }
}