.subscribe-container{
    margin-top: 3em;
    width: 100%;
    background-color: white;
    align-items: center;
    display: flex;

    .subscribe-wrapper{
        display: flex;
        justify-content: space-between;
        flex-flow: row;
        align-content: center;

        margin: 4em 8%;

        .content{
            display: flex;
            flex-flow: row;
            align-content: center;
            justify-content: space-between;

            .content-left{
                width: 700px;
                margin-right: 2em;

                .logo{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
    
                    margin-top: 3.5em;
    
                    .stream-logo{
                        height: 25px;
                        margin-right: 2em;
                    }
                }
            }

            .BrainhubCarousel__container{
                max-width: 510px;
            }
        }
    }
}