.navigation-container{
    width: 370px;
    height: fit-content;
    border-radius: 4px;
    box-shadow: 0 5px 10px 0 #00000033;
    background-color: #ffffff;

    .navigation-wrapper{
        padding: 1rem 1rem;

        .navigation-item{
            margin: 0 1rem;
            padding: 0.5rem 0;

            display: flex;
            align-items: center;
            justify-content: space-between;

            border-bottom: 1px solid #e5e6e6;

            h6{
                font-size: 15px;
                // margin-top: 0;
                opacity: 1;
                color: #333333;
            }
        }

        .selected{
            h6{
                color: #ee3124;
            }
        }
    }
}