.featured-container{
    margin-top: 3em;
    margin-left: 8%;

    .BrainhubCarousel__container{
        .BrainhubCarousel__trackContainer{
            .BrainhubCarousel__track{
                margin-left: 3%;
            }
        }
    }
}