.featured-container{
    margin-top: 3em;

    .BrainhubCarousel__container{
        .BrainhubCarousel__trackContainer{
            .BrainhubCarousel__track[style]{
                margin-left: 8% !important;
            }
        }
    }
}

@media screen and (max-width:425px){
    .featured-container{
        margin-top: 1rem;
    
        .BrainhubCarousel__container{
            .BrainhubCarousel__trackContainer{
                .BrainhubCarousel__track[style]{
                    margin-left: 5% !important;
                    li{
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}