.footer-container{
    // height: 350px;
    padding: 3em 0;

    background-color: #333435;

    .footer-wrapper{
        margin: 0 8%;

        display: flex;
        align-items: stretch;
        justify-content: space-between;

        .first-content, .second-content, .third-content{
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            flex-direction: column;

        }

        .first-content{
            width: 40%;

            .powered-by{
                width: 232px;
                height: 165px;
                margin-bottom: 3em;

                background-size: contain;
                background-repeat: no-repeat;
                background-position: top;
            }

            .store{
                img{
                    width: 134px;
                    margin-right: 1em;
                }
            }
        }

        .second-content{
            width: 20%;
            ul{
                list-style-type: none;
                text-align: left;
                padding-left: 0;
                margin: 0;

                li{
                    font-size: 20px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #ffffff;

                    margin-top: 1.3em;
                }
            }
        }

        .third-content{
            width: 30%;

            .button-in-input{
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: row;
                box-sizing: content-box;

                // padding: 2px;
                
                input[type=text]{
                    width: 100%;
                    height: 60px;
                    border-radius: 8px;
                    box-shadow: 0 5px 10px 0 #00000033;
                    background-color: #ffffff;
                    box-sizing: border-box;
    
                    border: none;
                    padding-left: 2em;
                    padding-right: 8em;
                    // flex-grow: 2;
                }
    
                input[type=text]:focus{
                    border: none;
                    outline: none;
                }
    
                .btn-submit{
                    
                    width: 85px;
                    height: 40px;
                    font-family: Ubuntu;
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 0.86px;
                    text-align: center;
                    color: #ffffff;
                    cursor: pointer;
    
                    border-radius: 6px;
                    border: none;
                    background-color: #ee3124;
                    margin-left: -6em;
                }
    
                ::placeholder{
                    // padding-left: 1em;
                    opacity: 0.3;
    
                    font-family: Ubuntu;
                    font-size: 17px;
                    color: #333333;
                }
            }


            .contact{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.5em 1em;
                margin-top: 0.5em;
                
                border-radius: 5px;
                border: solid 1px #ffffff;

                .phone{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    img{
                        width: 30px;
                        height: 30px;
                    }

                    .contact-center{
                        margin-left: 1em;
                        color: white;

                        .text-contact{
                            margin: 0 0;
                        }
                    }
                }

                .phone-number{
                    font-size: 40px;
                    font-weight: bold;
                    letter-spacing: 3.33px;
                    color: #ffffff;
                    
                    h4{
                        margin: 0;
                    }
                }
            }

            .social-media{
                display: flex;
                align-items: center;
                justify-content: flex-start;

                margin-top: 1.1em;
                img{
                    margin-right: 1em;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .footer-container{
        .footer-wrapper{
            .second-content{
                ul{
                    li{
                        font-size: 16px;
                    }
                }
            }
            .third-content{
                .button-in-input{
                    input[type=text]{
                        height: 50px;
                        padding-left: 1em;
                    }
                    .btn-submit{
                        height: 30px;
                        font-size: 14px;
                        margin-left: -7em;
                    }
                }
                .contact{
                    .text-contact{
                        font-size: 15px;
                    }
                    small{
                        font-size: 13px;
                    }
                    .phone-number{
                        font-size: 33px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .footer-container{
        .footer-wrapper{
            display: flex;
            flex-wrap: wrap;

            .first-content{
                width: 65%;
                .powered-by{
                    margin-bottom: 1rem;
                }
                
            }
            .second-content{
                width: 35%;
                ul{
                    li{
                        margin-top: 1.6em;
                    }
                }
            }
            .third-content{
                width: 100%;
                margin-top: 2rem;
                
                .button-in-input{
                    input[type=text]{
                        padding-left: 1.5em;
                    }
                    ::placeholder{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px){
    .footer-container{
        .footer-wrapper{
            .first-content{
                .powered-by{
                    width: 80%;
                    height: 130px;
                }
                .store{
                    img{
                        width: 50%;
                    }
                }
            }
            .second-content{
                ul{
                    li{
                        font-size: 14px;
                    }
                }
            }

            .third-content{
                margin-top: 1rem;
                .button-in-input{
                    input[type=text]{
                        height: 40px;
                        padding-left: 1em;
                    }
                    .btn-submit{
                        height: 30px;
                        margin-left: -91px;

                        font-size: 14px;
                    }
                    ::placeholder{
                        font-size: 14px;
                    }
                }

                .contact{
                    .text-contact{
                        font-size: 12px;
                    }
                    small{
                        font-size: 10px;
                    }
                    h4{
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:375px){
    .footer-container{
        .footer-wrapper{
            .first-content, .second-content, .third-content{
                width: 100%;
            }

            .first-content{
                .store{
                    img{
                        width: 40%;
                    }
                }
            }

            .second-content{
                margin-top: 1rem;
                ul{
                    li{
                        margin-top: 1.5rem;
                    }
                }
            }

            .third-content{
                .button-in-input{
                    margin-top: 0.5rem;
                }
            }
        }
    }
}