.featuredComponent-container{
    height: 173px;
    width: 370px;
    margin-right: 2em;
    
    
    .featuredComponent-poster{
        border-radius: 9px;
        height: 100%;

        background-repeat: no-repeat;
        background-position: top right;
        // background-size: 100%;

        .featured-bg{
            border-radius: 9px 0 0 9px;
            height: 100%;

            background-position: left;
            background-repeat: no-repeat;

            display: flex;
            align-items: center;
            
            .featured-wrapper{
                padding: 1.5em 1em;
                width: 45%;
                height: 100%;
                box-sizing: border-box;
                margin: auto 0;

                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;

                h5{
                    font-size: 20px;
                    color: white;
                    margin: auto;
                }
                p{
                    font-family: Ubuntu;
                    font-size: 15px;
                    font-weight: normal;
                    line-height: 1.43;
                    color: #ffffff;
                    margin-top: 0;
                }
            }
        }
    }
}

@media screen and (max-width:425px){
    .featuredComponent-container{
        width: 260px;
        height: 120px;

        margin-right: 1em;

        .featuredComponent-poster{
            background-size: contain;

            .featured-bg{
                background-size: contain;

                .featured-wrapper{
                    padding: 0.5em 0.7em;
                    align-items: flex-start;

                    h5{
                        font-size: 16px;
                        margin-top: 0.5rem;
                    }
                    p{
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 15px;
                        margin: 0;
                    }
                }
            }
        }
    }
}