.featuredComponent-container{
    height: 173px;
    width: 370px;
    margin-right: 2em;
    
    
    .featuredComponent-poster{
        border-radius: 9px;
        height: 100%;

        background-repeat: no-repeat;
        background-position: top right;
        // background-size: 100%;

        .featured-bg{
            border-radius: 9px 0 0 9px;
            height: 100%;

            background-position: left;
            background-repeat: no-repeat;

            display: flex;
            align-items: center;
            
            .featured-wrapper{
                padding: 1.5em 1em;
                width: 45%;
                height: 100%;
                box-sizing: border-box;
                margin: auto 0;

                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;

                h5{
                    font-size: 20px;
                    color: white;
                    margin: auto;
                }
                p{
                    font-family: Ubuntu;
                    font-size: 15px;
                    line-height: 1.43;
                    color: #ffffff;
                    margin-top: 0;
                }
            }
        }
    }
}