.offerComponent-container{
    margin-right: 3em;
    
    width: 270px;
    height: 270px;

    background-color: black;
    background-repeat: no-repeat;
    border-radius: 5px;

    display: flex;
    align-items: flex-end;

    .offerComponent-wrapper{
        display: block;

        padding: 1.5em;

        color: white;

        p{
            margin-top: auto;
        }
    }
}