.offerComponent-container{
    // margin-right: 3em;
    
    height: 270px;
    width: 270px;

    border-radius: 5px;
    background-color: black;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: flex-end;
    
    .offerComponent-wrapper{
        display: block;

        padding: 1.5em;

        color: white;

        p{
            margin-top: auto;
        }
    }
}