.offerComponent-container{
    // margin-right: 3em;
    
    height: 270px;
    width: 270px;

    border-radius: 5px;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: flex-end;
    
    .offerComponent-wrapper{
        display: block;

        padding: 1.5em;

        color: white;

        p{
            margin-top: auto;
        }
    }
}

@media screen and (max-width:767px){
    .offerComponent-container{
        width: 120px;
        height: auto;
        display: block;
        
        
        .offerComponent-wrapper{
            height: 120px;
            width: 120px;
            border-radius: 5px;

            box-sizing: border-box;

            background-size: contain;
            background-repeat: no-repeat;

        }
        p{
            font-size: 12px;
            margin-bottom: 0;
            font-weight: normal;
        }
        .link{
            letter-spacing: normal;
            font-size: 12px;
        }
    }
}